<!DOCTYPE html>
<html>

<head>
  <title>Mi CV | Dixon Ramos</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <h1>Dixon Ramos</h1>
    <p>Email: Dixonramos282005@hotmail.com</p>
    <p>Teléfono: +58 04243741634</p>
  </header>

  <section>
    <h2>Biografía</h2>
    <h3>Estudiante de Ingeniería informática Dinámico y Motivado</h3>
    <p>Soy un estudiante de Ingeniería en informática altamente motivado y entusiasta, actualmente en mi cuarto semestre. Con una profunda pasión por
       la tecnología y una dedicación inquebrantable a mi oficio, estoy persiguiendo mi carrera soñada en el campo de la ingeniería en computación
       al mismo tiempo que aprendo por mi propia cuenta el oficio que me apasiona.</p>
  </section>

  <section>
    <h2>Experiencia Laboral</h2>
    <h3>Desarrollador Web | Empresa XYZ</h3>
    <p>2018 - Presente</p>
    <ul>
      <li>Desarrollo de aplicaciones web...</li>
      <li>Desarrollo de aplicaciones web...</li>
      <li>Desarrollo de aplicaciones web...</li>
      <li>Desarrollo de aplicaciones web...</li>
    </ul>
  </section>

  <section>
    <h2>Educación</h2>
    <h3>Licenciatura en Ciencias de la Computación | Universidad ABC</h3>
    <p>2014 - 2018</p>
  </section>

  <section>
    <h2>Habilidades</h2>
    <ul>
      <li>JavaScript</li>
      <li>HTML & CSS</li>
      <!-- Agrega más habilidades aquí -->
    </ul>
  </section>

  <section>
    <h2>Redes Sociales</h2>
    <ul>
        <li>LinkedIn: juanperez</li>
        <li>GitHub: juanperez</li>
        <!-- Agrega más redes sociales aquí -->
    </ul>
</section>
</body>

</html>