body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}


h1, h2, h3 {
  margin: 0;
}

p {
  margin: 0 0 10px 0;
}

section {
  margin: 20px;
}

.redes {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

.redes img {
  width: 20px; /* Ajusta este valor para cambiar el tamaño de las imágenes */
  height: 20px; /* Ajusta este valor para cambiar el tamaño de las imágenes */
  margin-right: 5px;
  margin-left: 10px;
  
}

.redes ul {
  display: flex; /* Esto hará que los elementos de la lista se muestren en línea */
  justify-content: space-between; /* Esto distribuirá el espacio de manera uniforme entre los elementos de la lista */
}

.redes a {
  color: #fff;
  text-decoration: none;
  transition: color 0.5s ease;
  font-size: 20px; /* Ajusta este valor para cambiar el tamaño del texto de los enlaces */
  margin: 5px;
}

.redes a:hover {
  color: #007BFF;
}

footer{
  background-color: #333;
 
}



@media screen and (max-width: 600px) {
  body {
    font-size: 18px;
  }

  h1, h2, h3 {
    font-size: 24px;
  }
}

