
body {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  background-color: #6a0dad;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

h1{
  color: #fff
}
 h2, h3 {
  color: #6a0dad;
}
section {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
